<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .main {
            display: flex;
            width: 100%;
        }

        .child {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 200px 0;
        }

        .text-inputs {
            width: 250px;
        }

        .registerbtn {
            background-color: aquamarine;
        }

        .error_msg,
        #email_error,
        #number_check_err {
            color: rgb(209, 5, 5);
            font-size: small;
        }
    </style>
</head>

<body>
    <div class="main" id="main">
        <div class="child">
            <span style="border: 2px solid black; padding: 25px; background-color: bisque; border-radius: 25px;">
                    <form  id="form">
                    <h3>Registration</h3>
                    <label for="first_name">First Name:</label><br>
                    <input type="text" name="first_name" id="first_name" class="text-inputs"><br>
                    <span class="error_msg"></span><br>
                    <label for="last_name">Last Name:</label><br>
                    <input type="text" name="last_name" id="last_name" class="text-inputs"><br>
                    <span class="error_msg"></span><br>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" id="email" class="text-inputs"><br>
                    <span class="error_msg"></span><br>
                    <span id="email_error"></span>
                    <p id="check_email"></p>
                    <label for="contact_no">Contact No:</label><br>
                    <input type="text" name="contact_no" id="contact_no" class="text-inputs"><br>
                    <span class="error_msg"></span><br>
                    <span id="number_check_err"></span>
                    <br><br>
                    <center>
                        <input type="reset" value="reset" class="registerbtn">
                        <input type="button" value="submit" class="registerbtn" onclick="valid_and_post()">
                        <br>
                        <br>
                        <a href="/login">Login</a>
                    </center>

            </form>
                
            </span>
            <p id="msg"></p>
        </div>
    </div>

    <script>
        var form = document.forms['form'];

         async function ajax_email_post_data() {

            var email = document.getElementById("email").value;

            let result = await fetch(`http://localhost:3050/checkemail/${email}`)

            alert(email);
           
            result = await result.json();

            console.log(result);
        
            if(result==true){         
              document.getElementById("check_email").innerHTML=`email already exist`;
              document.getElementById('email').focus();
            }
            else {
                const form = document.getElementById('form');
                const obj = new URLSearchParams(new FormData(form));
                console.log(obj);

                let res = await fetch("http://localhost:3050/thank",
                {
                    headers:{
                        'Content-Type':'application/x-www-form-urlencoded'
                    },
                    method:"POST",
                    body:obj
                })

                window.location.href = `http://localhost:3050/page`;
            }
        }


        function valid_and_post() {
            document.getElementById('email_error').innerHTML = "";
            document.getElementById('number_check_err').innerHTML = "";

            var flag = 0;
            let arr = ["first_name", "last_name", "email", "contact_no"]


            for (var i = 0; i < arr.length; i++) {


                if (document.getElementById(arr[i]).value.trim() === null || document.getElementById(arr[i]).value.trim() === "") {
                    document.getElementsByClassName('error_msg')[i].innerHTML = `this field is required `;
                    document.getElementById(arr[i])
                    document.getElementById(arr[i]).focus();
                    flag = 1;
                }
                else {
                    document.getElementsByClassName("error_msg")[i].innerHTML = "";
                }

            }

            if (flag == 1) {
                return false;
            }


            // //this code for email validation

            let email = document.getElementById("email");
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

            if (!(email.value.match(mailformat))) {
                document.getElementById('email_error').innerHTML = "Invalid Email"
                email.focus();
                return false;
            }


            // //this code for check the mobile number structure
            if (document.getElementById("contact_no").value.length != 10 || isNaN(document.getElementById("contact_no").value)) {
                document.getElementById('number_check_err').innerHTML = "Enter the valid Number";
                document.getElementById("contact_no").focus();
                return false;
            }
            
            ajax_email_post_data();
        }
    </script>
</body>

</html>