<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <style>
        body{
            background-color:#bebad3;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-image: url('./pexels-ylanite-koppens-2008145.jpg')  ;
            background-repeat: no-repeat;
            background-size: cover;
           
        }
        tr,td{
            border: 2px solid black;    
            border-radius: 10px;
            padding: 8px;
            background-color:#d2d2e0;
        }
        a{
            text-decoration: none;
            color: black;
        }
        #logout{
           background-color: tomato;
           width: 85px;
           height: 30px;
           border-radius: 20px;
        }
       
    </style>
</head>
<body>
    <div id="main">

        <center>
            <h1>Harsh Solanki</h1>
            <h2>24Dev033</h2>
            <h2>ALL-EXERCISES</h2>
        </center>
        <center>
    </center>
    <center>
        <table>
            <tr>
                <td>Task</td>
                <td>Task</td>
            </tr>
            <tr>
                <td><a href="/1_dynamic_table.html">1.Dynamic Table</a> </td>
                <td><a href="/2_cube_table_game.html">2.KuKu cube game</a> </td>
            </tr>
            <tr>
                <td> <a href="/3_tic_tac_toe.html">3.tic tac toe game</a> </td>
                <td><a href="/4_sorting.html">4.Sorting in javascript</a> </td>
            </tr>
            <tr>
                <td><a href="/pagination">5.Pagination_with_student_data_with_search</a> </td>
                <td> <a href="/delimeter">6.only delimeter search with student data</a> </td>
            </tr>
            <tr>
                <td><a href="/json">7.json placeholder api task</a></td>
                <td><a href="/attendance">8.attendance_task_with_filter</a> </td>
            </tr>
            <tr>
                <td> <a href="/result">9.result_master_with_each_user</a> </td>
                <td>  <a href="/simple">10.CRUD_OPERATIONS_JOB_FORM</a> </td>
            </tr>
            <tr>
                <td> <a href="/job_application_form">11.job_application_form_with_ajax</a> </td>
                <td> <a href="/Hirex_website/Hirex.html">12.HireX Website</a> </td>
            </tr>
            <tr>
                <td> <a href="/ehya_website/ehya_task.html">13.ehya Website</a> </td>
                <td><a href="/Awan_hoster_website/index.html">14.Awan Hoster Website</a> </td>
            </tr>
            <tr>
                <td><a href="/dynamic">15.dynamic_grid_with_query_with_sorting</a></td>
                <td><a href="/grid">16.simple_grid_with_pagination</a></td>
            </tr>
            <tr>
                  <td>  <a href="/clock">17.clock converter</a> </td>
                  <td><a href="/state">18.state cities with ajax</a></td>
            </tr> 
        </table>

        <br>
        <br>
        <br>
        <h2><span>"</span>To see the exercise Click the texts.<span>"</span></h2>

    <a href="/logout" ><input type="button" value="Logout" id="logout"></a>

    </center>
</div>
</body>
</html>