<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <style>
        tr,td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <center>
        <h1>Harsh Solanki</h1>
         <h2>24Dev033</h2>
    </center>

    <center>
        <h2>ALL-EXERCISES</h2>
        <h3><a href="/1_dynamic_table.html">1.Dynamic Table</a></h3>
        <h3><a href="/2_cube_table_game.html">2.KuKu cube game</a></h3>
        <h3><a href="/3_tic_tac_toe.html">3.tic tac toe game</a></h3>
        <h3><a href="/4_sorting.html">4.Sorting in javascript</a></h3>
        <h3><a href="/pagination">5.Pagination_with_student_data_with_search</a></h3>
        <h3><a href="/delimeter">6.only delimeter search with student data</a></h3>
        <h3><a href="/json">7.json placeholder api task</a></h3>
        <h3><a href="/attendance">8.attendance_task_with_filter</a></h3>
        <h3><a href="/result">9.result_master_with_each_user</a></h3>
        <h3><a href="/simple">10.CRUD_OPERATIONS_JOB_FORM</a></h3>
        <h3><a href="/job_application_form">11.job_application_form_with_ajax</a></h3>
        <h3><a href="/Hirex_website/Hirex.html">12.HireX Website</a></h3>
        <h3><a href="/ehya_website/ehya_task.html">13.ehya Website</a></h3>
        <h3><a href="/Awan_hoster_website/index.html">14.Awan Hoster Website</a></h3>
        <h3><a href="/clock">15.clock converter</a></h3>
    </center>
</body>
</html>