<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        * {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .main {
            display: flex;
            width: 100%;
        }

        .child {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 200px 0;
        }

        .text-inputs {
            width: 250px;
        }

</style>
<body>


    <div class="main">
        <div class="child">
            <span style="border: 2px solid black; padding: 25px; background-color: bisque; border-radius: 25px;">
            <form action="/" method="post">
                <p id="message"></p>
                <input type="hidden" name="id" id="id" <% if (id) { %>value="<%=id%>" <% } %>>
                <label for="password">Password:</label><br>
                <input type="password" name="password" class="text-inputs" id="pswd1"><br>
                <br>
                <label for="confirm">confirm password:</label><br>
                <input type="password" name="confim_password" id="pswd2" class="text-inputs"><br>
                <br>
                <center> <input type="submit" value="submit" onclick="return passmatch()"></center>
            </form>
        </div>
        </div>
        <script>
            function passmatch(){ 
            document.getElementById("message").innerHTML ="";
           var pw1 = document.getElementById("pswd1").value;  
           var pw2 = document.getElementById("pswd2").value;
           
           if(pw1.trim() == "" || pw2.trim()=="") {  
            document.getElementById("message").innerHTML = "**Fill the password please!";  
            return false;  
           }
           
           if(pw1.length != 8 || pw2.length != 8) {  
            document.getElementById("message").innerHTML = "**Password length must be fix 8 characters";  
            return false;  
           }  


           if(pw1 != pw2)  
           {   
             alert("Passwords did not match");
             return false;  
           } 

          return true;
        }
        </script>
</body>


</html>