<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
        <h2>Thank you for the Registration</h2>

        <h2>Verification Link</h2>

        <div id="activate">
            <a href="http://localhost:3050/verify/<%=str%>">http://localhost:3050/verify/<%=str%></a>
        </div>
    </center>
</body>
</html>